In [1]:
import nltk

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Ufuk
[nltk_data]     Altan\AppData\Roaming\nltk_data...

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
sia = SentimentIntensityAnalyzer()

In [12]:
a = "This is the BEST movie I have ever seen in my life"
b = "The last scene of this movie is rewarded as one of the most remarkable scenes of all times"
c = "Industrial engineering SUCKS because AI, in fact, takes over the world"

In [13]:
sia.polarity_scores(a),sia.polarity_scores(b),sia.polarity_scores(c)

({'neg': 0.0, 'neu': 0.67, 'pos': 0.33, 'compound': 0.7125},
 {'neg': 0.0, 'neu': 0.693, 'pos': 0.307, 'compound': 0.796},
 {'neg': 0.244, 'neu': 0.756, 'pos': 0.0, 'compound': -0.4995})

In [14]:
import pandas as pd

In [15]:
data = pd.read_csv('amazonreviews.tsv', sep ='\t')

In [16]:
data.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [21]:
data['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [19]:
data.isnull().sum()

label     0
review    0
dtype: int64

In [20]:
data.dropna(inplace=True)

In [22]:
blanks =[]
for i,lb,rv in data.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

In [24]:
#data.drop(blanks, inplace=True)

In [29]:
sia.polarity_scores(data['review'][3])

{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'compound': 0.9814}

In [30]:
data['scores'] = data['review'].apply(lambda review: sia.polarity_scores(review))

In [31]:
data.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [32]:
data['compound'] = data['scores'].apply(lambda d:d['compound'])
data.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [33]:
data['comp_score'] = data['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [34]:
data.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [35]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [36]:
confusion_matrix(data['label'], data['comp_score'])

array([[2623, 2474],
       [ 435, 4468]], dtype=int64)

In [37]:
accuracy_score(data['label'], data['comp_score'])

0.7091

In [38]:
print(classification_report(data['label'], data['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

# Project Part

In [39]:
import numpy as np

In [42]:
df = pd.read_csv('moviereviews.tsv', sep ='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [44]:
df.dropna(inplace = True)

In [46]:
blanks = []

for i, lb, rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

In [48]:
df.drop(blanks, inplace=True)

In [51]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [52]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [53]:
sia = SentimentIntensityAnalyzer()

In [54]:
df['scores'] = df['review'].apply(lambda review:sia.polarity_scores(review))

In [55]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [58]:
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [59]:
df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [60]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [61]:
accuracy_score(df['label'], df['comp_score'])

0.6367389060887513